<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant booking">
    <meta name="keywords" content="customer, food, menu">
    <title>Reservation</title>
    <link rel="stylesheet" href="{% static 'reservation/css/style.css' %}">
</head>

<body>
    <form class="form" method="POST" action="manage">
        {% csrf_token %}
        <div id="container">
            <h1>MANAGE ITEM</h1>
            <ul style="color: white">
                {% for item  in bookings %}
                <li>{{ item.name }}
                    <button value="{{ item.id }}" name="item_id">
                        delete
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </form>
</body>

</html>