<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant booking">
    <meta name="keywords" content="customer, food, menu">
    <title>Reservation</title>
    <link rel="stylesheet" href="asset/css/style.css">
</head>

<body>
    <form class="form">
        <div id="container">
            <h1>MAKE A RESERVATION</h1>
            <div class="form-field">
                <input type="text" placeholder="Your name">
                <input type="email" placeholder="Email">
            </div>
            <div class="form-field">
                <input type="text" placeholder="Menu">
                <select name="option" id="size">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>     
                <input type="date" placeholder="Date">
                <input type="time" placeholder="time">
            </div>
            <div class="submit-btn"><button class="btn">SUBMIT</button></div>
        </div>
    </form>
</body>

</html>